
/*
*
* Header
*
*/

.header-logo {
	margin-left:20px;
}

.header_titles {
	text-transform: capitalize;
}

.header-title {
	direction:rtl;
	font-family: monospace, serif;
	margin-right:40px;
}

.header-subtitle {
	direction:rtl; 
	margin-right:40px; 
}

.left {
	float:left;
}

.right {
	float:right;
}

/*
 *
 * Works
 *
 */
 
#my_carousel {
	margin-bottom:20px;
}
 
h2 {
	text-decoration: underline;
	color:#7d97ad;
}
 
p {
	text-align: justify;
}

h2 {
	margin:4% auto;
}

h4 {
	margin-bottom:4%;
}

.icon {
	margin:4% auto;
}
 
/*
 *
 * Footer
 *
 */
 
footer {
	margin-top:20px;
	margin-bottom:20px;
	background-color:#2d3c49;
	color:#fff;
	padding:5px;
}

.fa {
	padding:15px;
	font-size:25px;
	color:#fff;
}

.fa:hover {
	color:#d5d5d5;
	text-decoration:none;
}


